@model List<UserInfo>
@{
    ViewBag.Title = "Katılımcı Listesi ";

}
<main class="text center">
    <h1 class="h4">Toplantıya Katılım Listesi</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Kullanıcı Adı</td>
                <td>Katılım Durumu</td>
                <td>Detay</td>
            </tr>
        </thead>
        <tbody>

            
            @{
                int i = 0; //Kullanıcı sayımı 0 başlattım.
            }

            @foreach (var user in Model)
            {
                var durum = user.WillAttend == true ? "Evet" : "Hayır"; //Katılım durumuna göre true yerine evet, false yerine hayır yazıyor.
                var className = user.WillAttend == true ? "table-success" : "table-danger";   //Katılım durumuna göre alt tarafını boyuyor.
                if (user.WillAttend == true)
                {
                    i++;
                }

                <tr class="@className">
                    <td>@user.Name</td>
                    <td>@durum</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="/meeting/details/@user.Id">Detay</a>
                    </td>
                </tr>

            }

        </tbody>
    </table>
    <div class="card">
        <div class="card-body">
            <span style="display: flex; justify-content: center;">Katılımcı Sayısı: @i</span>
        </div>
    </div>
</main>